<header class='entete'>

<nav> 
 <a href='/vider'><i class="material-icons">delete_forever</i>Vider</a>
 <a href='/'><i class="material-icons">home</i>Accueil</a>
 <a href='/list'><i class="material-icons">tab</i>Adresse</a>
 <a href='/peupler'><i class="material-icons">supervisor_account</i>Peupler</a>

</nav> 
 <section>
 <i class="fa fa-cubes fa-5x"></i>
 <h1>Node.js - Express - mongoDB et EJS</h1> 
 </section>
 </header>